<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
   <script type="text/javascript">
  
	String.prototype.isEmpty = function() {
    return (this.length === 0 || !this.trim());
    };

	function Validate(){
		var ans = document.getElementById("content").value
		if(ans.isEmpty()){
			window.alert('Answer cannot be empty!')
			return false;
		}
		return true;
	}
  </script>
</head>
  <body>
	<div id="container" class="hfeed default" style="margin:0 auto;width:60%;background:#fff;" >	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li>
                <a href="/">
                  Home
                </a>
              </li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
             
            </ul>
          </div>
        </div>
      </div>
    </div>
	
    <hr>
    
	<form action="/editanswer?ans={{answer.key.urlsafe()}}" method="post" onsubmit="return Validate()">
		
		Answer:
      <div><textarea class="input-block-level" id="content" name="content" rows="5" >{{answer.content}}</textarea></div>
	  <input type="hidden" value={{answer.q_id.urlsafe()}} name="q_id">
	  <div><input type="submit" value="Add answer"></div>
    </form>
	</div>
  </body>
</html>
{% endautoescape %}	